<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Connect4TrainerFunction/src/main/java/connect4/rest/RestServer.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DYNAMODB_REGION" value="ap-southeast-2"/>
        <mapEntry key="STORE_LAMBDA_FUNCTION" value="Connect4Store"/>
        <mapEntry key="STORE_LAMBDA_REGION" value="ap-southeast-2"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="connect4.rest.RestServer"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Connect4TrainerFunction"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Connect4TrainerFunction"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.configuration=log4j_runtime.properties"/>
</launchConfiguration>
